<div class="tv">
  <div class="tvBorder">
    <div id="screen">
      <div id="tv" data-uri="<%= request.host %>:<%= request.port %>/websocket"></div>
    </div>
    <div class="controls">
      <a id="next_channel" class="channel" href="#" title="Next Channel">&#x1f63f;</a>
      <a id="previous_channel" class="channel" href="#" title="Previous Channel">&#x1F63B;</a>
    </div>
  </div>
</div>
