<div>
<div id="tv" data-uri="<%= request.host %>:<%= request.port %>/websocket"></div>
</div>
<div class="controls">
  <a id="next_channel" href="#">Next Channel</a>
  <br/>
  <a id="previous_channel" href="#">Previous Channel</a>
</div>
