<h1>Mockup!</h1>
<div class="tv">
  <div class="tvBorder">
    <div id="screen">
      <img src="http://robohash.org/foo.jpg?size=480x360" class="frame"/>


    </div>
    <div class="controls">
      <a id="next_channel" class="channel" href="#" title="Next Channel">&#x1f63f;</a>
      <a id="previous_channel" class="channel" href="#" title="Previous Channel">&#x1F63B;</a>
    </div>
  </div>

</div>
